body{
    background-color: #F7FCFE;
}
.table{
    background-color: #fff;
    margin-top: 48px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    max-height: 550px;
    overflow-y: auto;
    }
.table::-webkit-scrollbar{
    width: 5px;
    height: 54px;
}
.table::-webkit-scrollbar-track{
    background: #F2F2F7;
}
.table::-webkit-scrollbar-thumb{
    background: linear-gradient(136.66deg, #00A5EE 1.58%, #14D7D1 96.24%);
    border-radius: 8px;
}

.string{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 3fr 2fr;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: #F2F2F7;
    color: #000;
    border-bottom: 1px solid #F2F2F7;
}
.string>p{
    padding-left: 12px;
}

